

.menu {
    color: white;
    transition: transform 1s ease-in-out, width 500ms ease-in-out;
    position: absolute;
    top-bar-button: initial;
    width: 0;
    overflow: hidden;
    background: var(--background-color);
    border-right: 1px solid var(--secondary-color);
}

.menu.open {
    transform: translateX(0);
    width: 12.1em;
}

.menu.open ul {
    display: block;
}
.menu ul {
    list-style-type: none;
}

.menu li a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden; /* Nasconde il testo che esce */
    text-overflow: ellipsis; /* Aggiunge "..." alla fine del contenuto troncato */
    padding: 15px;
    text-decoration: none;
    color: var(--text-color);
}

ol, ul {
    padding-left: 0;
}
