/* Variabili CSS per colori personalizzati */
:root {
    --primary-color: #ef705d;
    --secondary-color: #d1d2d3;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --text-selected: #f8f9fa;
    --border-radius: 5px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    margin-top: 2vh;
}

nav {
    background-color: var(--primary-color);
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    line-height: 1.5em;
    color: var(--text-selected);
    font-size: x-large;
    padding: 5px;
    display: flex;
    align-items: center;
}

nav img {
    width: 40px;
    height: 40px;
}

nav .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

nav .btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
}

nav .btn-primary:hover {
    background-color: darken(var(--primary-color), 10%);
}

nav h1 {
    display: inline-block;
    line-height: 2vw;
    left: 0;
    margin: auto;
    font-size: 1.75vw;
    text-align: center;
    font-weight: bold;
}

nav .btn:disabled {
    border-color: transparent
}

.form-control {
    border-color: var(--secondary-color);
}

.text-primary {
    /*color: var(--primary-color);*/
    color: rgba(var(--primary-color),var(--bs-text-opacity)) !important
}

.main-container {
    background: #fff;
    border-radius: var(--border-radius);
    border: solid 1px var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
