/* Variabili CSS per colori personalizzati */
:root {
    --primary-color: #ef705d;
    --secondary-color: #d1d2d3;
    --background-color: #f8f9fa;
    --text-color: #212529;
    --text-selected: #f8f9fa;
    --border-radius: 5px;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altezza completa della finestra */
    margin: 0;
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
}

.btn-primary:hover {
    background-color: darken(var(--primary-color), 10%);
}

.form-control {
    border-color: var(--secondary-color);
}

.text-primary {
    /*color: var(--primary-color);*/
    color: rgba(var(--primary-color),var(--bs-text-opacity)) !important
}

/** commons **/

.login-container, .main-container {
    background: #fff;
    border-radius: var(--border-radius);
    border: solid 1px var(--primary-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}