#data-container {
    overflow: auto;

}

#data-container tr {
    position: sticky;
    top: 0;
}

.col-is-hidden {
    width: 180px;
    text-align: center;
}

.col-actions {
    width: 100px;
    text-align: center;
}

.mouse-hover {
    cursor: pointer;
}

.row .no-padding {
    padding-right: 0;
    padding-left: 0;
}

.col b {
    font-size: calc(var(--bs-gutter-x) * .75);
}

.group-note-height {
    height: 10em !important;
}

@media (max-width: 768px) {
    #group-field-area-tips {
        text-align: center;
    }

    #group-field-area {
        display: flex;
        flex-wrap: wrap;
    }

    #group-field-area .col {
        flex: 0 0 100%;
        max-width: 100%;
        display: block;
        box-sizing: border-box;
    }
}