#data-container {
    overflow: auto;

}

#data-container tr {
    position: sticky;
    top: 0;
}

.col-is-hidden {
    width: 180px;
    text-align: center;
}

.col-actions {
    width: 100px;
    text-align: center;
}

.mouse-hover {
    cursor: pointer;
}

.row .no-padding {
    padding-right: 0;
    padding-left: 0;
}

.col b {
    font-size: calc(var(--bs-gutter-x) * .75);
}

.group-note-height {
    height: 10em !important;
}