<div class="input-group mb-3 collapse">
  <textarea class="form-control" aria-label="Group note"></textarea>
</div>

<div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Filter the data below" aria-label="Filter the data below" aria-describedby="button-search">
  <button class="btn btn-outline-secondary" type="button" id="button-search">Search</button>
</div>

<div id="data-container" class="container">
  <div id="row-{type}-{id}" class="row">
    <div class="col-md-auto" data-type="{type}" data-type-id="{id}">
      <img src="{icon}" alt="{icon-alt}">
    </div>
    <div class="col" data-type="{type}" data-type-id="{id}">
      {title}
    </div>
    <!--passwd
    <div class="col-md-auto passwd" data-field="passwd" data-type="{type}" data-type-id="{id}">
      {passwd}
    </div>
    passwd-->
    <div class="col-md-auto" data-type="{type}" data-type-id="{id}">
      {buttons}
    </div>
  </div>
</div>

<link href="/views/home.css" rel="stylesheet">
