<div id="note-container" class="input-group mb-3 collapse">
  <textarea id="note" class="form-control" aria-label="Group note" readonly></textarea>
</div>

<div class="input-group mb-3">
  <div class="input-group mb-3">
    <span class="input-group-text">
      <img class="ico" src="/images/ic_search.svg" alt="Search icon">
    </span>
    <div class="form-floating">
      <input autocomplete="off" type="text" class="form-control" id="search" placeholder="Search">
      <label for="search">Filter the data below</label>
    </div>
    <button class="btn btn-outline-secondary" type="button" id="clean-search">Clean</button>
  </div>
</div>

<div id="data-container" class="container border-top">
  <div id="row-{type}-{id}" class="row row-{type} pt-2 pb-2 border-bottom">
    <div class="col-md-auto" data-type="{type}" data-type-id="{id}">
      <img class="ico" src="{icon}" alt="{icon-alt}">
    </div>
    <div class="col {no-child}" data-type="{type}" data-type-id="{id}">
      {title}
    </div>
    <!--is-hidden
    <div id="is-hidden-{type}-{id}" class="col-md-auto passwd" data-field="is-hidden" data-type="{type}" data-type-id="{id}">
      {is-hidden}
    </div>
    is-hidden-->
    <div class="col-md-auto" data-field="buttons" data-type="{type}" data-type-id="{id}">
      <!--note
      <img class="ico" src="/images/ic_note.svg" class="small-ico" data-field="note" data-type="{type}" data-type-id="{id}" alt="{note-alt}">
      note-->
      <img class="ico" src="/images/ic_copy.svg" data-field="copy" data-type="{type}" data-type-id="{id}" alt="Copy {type}"/>
      <img class="ico" src="/images/ic_delete.svg" data-field="delete" data-type="{type}" data-type-id="{id}" alt="Delete {type}"/>
      <img class="ico" src="/images/ic_edit.svg" data-field="edit" data-type="{type}" data-type-id="{id}" alt="Edit {type}"/>
    </div>
  </div>
</div>

<link href="/views/home.css" rel="stylesheet">
