.col-md-auto img {
    width: 24px;
    max-width: 24px;
    filter: invert(72%) sepia(31%) saturate(7309%) hue-rotate(323deg) brightness(98%) contrast(91%);
}

.passwd {
    text-align: end;
}

.no-child {
    font-style: italic;
}

.small-ico {
    width: 19px;
    height: 19px;
}

.row-group:hover, .row-field:hover {
    background-color: var(--secondary-active-color);
    cursor: pointer;
}