<form id="form" class="mx-auto">
  <p>Upload the new data file from another server on previous backup</p>
  <div class="alert alert-warning d-flex align-items-center" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
      Remember all data will be overwritten
    </div>
  </div>
  <div class="mb-3">
    <label for="form-file" class="form-label">Select data to import</label>
    <input class="form-control" type="file" id="form-file">
  </div>
  <button type="submit" id="button" class="btn btn-primary btn-full-width">Confirm</button>
</form>