<div class="d-flex justify-content-center my-3">
    <form id="form" class="mx-auto">
        <!-- SERVER JSON CONFIGURATION -->
        <div class="form-section">
            <label for="jsonConfig">SERVER JSON CONFIGURATION</label>
            <textarea id="jsonConfig" class="form-control" rows="10"></textarea>
            <div class="invalid-feedback">
                Please provide server configuration
            </div>
        </div>

        <!-- SERVER USER CONFIGURATION -->
        <div class="form-section mt-5">
            <h3>SERVER USER CONFIGURATION</h3>
            <div class="mb-3">
                <label for="inputPasswd" class="form-label">Enter password</label>
                <input type="password" class="form-control" id="inputPasswd">
            </div>
            <div class="mb-3">
                <label for="inputPasswdConfirm" class="form-label">Confirm password</label>
                <input type="password" class="form-control" id="inputPasswdConfirm">
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary">Register</button>
    </form>

</div>

<link href="/views/registration.css" rel="stylesheet">