
h3 {
    margin-top: 10px;
    font-size: large;
    text-align: center;
}

.json-config-height {
    height: 20em !important;
}

.ico {
    width: 20px;
    height: 20px;
}

.mouse-hover {
    cursor: pointer;
}